* {
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans';
}

html, body {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 640px), (max-height: 640px) {
  html {
    font-size: 12px;
  }
}

@media print {
  header {
    display: none;
  }
}