@import "https://cdn.jsdelivr.net/npm/spoqa-han-sans@2.1.2/css/SpoqaHanSans-kr.css";
@import "https://cdn.jsdelivr.net/npm/ionicons@4.6.3/dist/css/ionicons.min.css";

* {
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans';
}

html, body {
  margin: 0;
  padding: 0;
}